body {
    background-color: rgba(18, 22, 35, 0.82);
}
.rc-highlighted-text {
    color: #FFFFFF;
}
.experimental-text {
    color: #FF0000;
}
.darker-text {
     color: #BBBBBB;
}
.rc-logo-text {
    font-size: large;
}
a.rc-highlighted-text:link {
    color: #BBBBBB;
}
a.rc-highlighted-text:visited {
    color: #BBBBBB;
}
a.rc-highlighted-text:hover {
    color: #FFFFFF;
}
a.rc-highlighted-text:active {
    color: #FFFFFF;
}