<div class="rc-form">
    <form class="form-horizontal" role="form">
        <legend><h2>{{'REGISTER_CHOOSE_NAME'|translate}}</h2></legend>

        <div class="form-group">
            <label class="col-lg-4 control-label" for="userName">{{'USER_NAME'|translate}}</label>
            <div class="col-lg-8">
                <input
                        id="userName"
                        ng-model="userName"
                        name="userName"
                        pattern="{{userNamePattern}}"
                        class="form-control"
                        type="text"
                        ng-readonly="readOnly">
                <p>{{'USER_NAME_FORMAT_INFO'|translate}}{{server}}</p>
            </div>
        </div>

        <div ng-show="showError">
            <br />
            <p class="text-center"><i class="glyphicon glyphicon-warning-sign"></i> {{errorText|translate}}</p>
        </div>

        <div ng-show="showInfoAvailable">
            <br />
            <p class="text-center"><i class="glyphicon glyphicon-info-sign"></i> {{'USER_NAME_AVAILABLE'|translate}}</p>
        </div>

        <div ng-show="showConnectionError">
            <br />
            <p class="text-center"><pre><i class="glyphicon glyphicon-warning-sign"></i> {{'ERROR'|translate}}: {{UserExistsError|translate}}</pre></p>
        </div>

        <!--Loading Icons: http://ajaxload.info/#preview-->
        <div ng-show="showPending">
            <br />
            <p class="text-center"><img src="assets/img/ajax-loader.gif" /></p>
        </div>

        <div class="form-group">
            <div class="col-lg-12">

            <br />
            <button id="continue" ng-hide="showInfoAvailable" ng-click="checkAvailable()" name="importKey" class="btn btn-success btn-large pull-right">{{'CONTINUE'|translate}}</button>

            <button id="importKey" ng-show="showInfoAvailable" ng-click="importKey()" name="importKey" class="btn btn-primary btn-large pull-left">{{'IMPORT_KEY'|translate}}</button>
            <button id="createKey" ng-show="showInfoAvailable" ng-click="createKey()" name="continue" class="btn btn-primary pull-right">{{'CREATE_KEY'|translate}}</button>
            </div>
        </div>
    </form>

</div>

