<div class="pull-left darker-text rc-logo-text">&nbsp;<span class="rc-highlighted-text">R</span>aven<span class="rc-highlighted-text">C</span>rypt <span class="experimental-text">experimental</span></div>

<div class="rc-highlighted-text pull-right" ng-controller="LangCtrl">
    <a href="" class="rc-highlighted-text" ng-click="changeLang('en_US')">English</a> |
    <a href="" class="rc-highlighted-text" ng-click="changeLang('de_DE')">Deutsch</a>
    &nbsp;
</div>

<div class="rc-spacer" />

<div class="rc-form">
    <form class="form-horizontal" novalidate>
        <!-- Form Name -->
        <legend><h2>{{ 'ACCOUNTS' | translate }}</h2></legend>

        <div class="form-group">
            <div class="col-lg-12">
                <select id="accountsSelect" ng-model="account" ng-options="account.id for account in accounts"
                    name="accountsSelect" class="form-control rc-fullWidth" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12">
                <br />
                <button ng-click="register()" class="btn btn-large pull-left btn-primary">{{ 'REGISTER' | translate }}</button>
                <button ng-click="deleteAcc()" class="btn btn-large pull-left btn-primary">{{ 'DELETE' | translate }}</button>
                <button ng-click="login()" class="btn btn-large pull-right btn-primary">{{ 'LOGIN' | translate }}</button>
            </div>
        </div>
    </form>
</div>