<div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        Basic panel example
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        Basic panel example
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        Basic panel example
    </div>
</div>
